* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #293264;
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

/* BLOBS */

.blob-yellow {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.blob-blue {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* START PAGE */

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.start-btn {
  border-radius: 15px;
  background-color: #4D5B9E;
  padding: 10px 40px;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

.start-btn:hover,
.start-btn:focus,
.check-btn:hover,
.check-btn:focus{
  background-color: #293264;
}

/* QUIZ PAGE */

.quiz-page {
  padding: 30px 75px;
}

.question-container {
  padding: 16px 0;
  border-bottom: 1px solid #DBDEF0;
}

.question {
  font-size: 1rem;
  line-height: 20px;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.answer-btn {
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  background-color: transparent;
  color: #293264;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 14px;
}

.selected {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}

.check-answers {
  text-align: center;
}

.check-btn,
.play-again-btn {
  border-radius: 10px;
  background-color: #4D5B9E;
  padding: 10px 25px;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.warning-message {
  color: #ff5858;
  margin-top: 0;
}

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.results-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.correct {
  background-color: #94D7A2;
  border-color: #94D7A2;
}

.incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
}

.dimmed {
  opacity: 0.5;
}



@media (min-width: 1000px) {

  body{
    height: 100vh;
    margin: 0;
  }

  .title {
    font-size: 4rem;
  }

  .subtitle{
    font-size: 2rem;
    margin: .5em;
    margin-bottom: 1em;
  }

  .start-btn, 
  .check-btn{
    font-size: 1.5em;
    padding: .5em 2em;
  }

  .question-container{
    margin-bottom: 1em;
  }
}